.vintage-taskbar {
    background-color: #472e0f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgb(93, 54, 24);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin: 0;
    padding: 0;
  }
  
  .vintage-taskbar div {
    display: inline-block;
    width: 100%;
  }
  
  .vintage-taskbar a {
    color: darkgray; /* This sets the text color to dark gray */
    background-color:rgb(85, 76, 67);
    padding: 20px 20px;
    font-size: 30px;
    transition: color 0.3s ease, background-color 0.3s ease;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none; /* Removes the underline */
    display: inline-block;
    text-align: left;
    width: 100%; /* Ensures links take up the full width of the grid cell */
  }
  
  .vintage-taskbar a:hover {
    color: #fff;
    background-color: #E8BD3F;
  }
  
  .vintage-taskbar a:active {
    background-color: rgb(67, 48, 27);
    color: #4A4A4A;
  } 
  
.a{
    padding: 40px;
    font-size: 50px;
}

.button{
    background-color: rgb(84, 60, 26);
    color:white;
    border: none;
    width: 100px;
    cursor: pointer;
    width: 280px;
    height: 140px;
    font-size:60px;
    margin-right: 10px;
}
.container {
    display: flex;
    align-items: center;
    gap: 200px;
}

#image {
    width: 700px; /* Adjust size as needed */
    height: auto;
}
